<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Medecin Management System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>

    <div class="container my-2">
        <h1>Medecins List</h1>

        <a th:href="@{/showNewMedecinForm}" class="btn btn-primary btn-sm mb-3"> Add Medecin </a>

        <table border="1" class="table table-striped table-responsive-md">
            <thead>
                <tr>
                    <th>Medecin First Name</th>
                    <th>Medecin Last Name</th>
                    <th>Medecin Speciality</th>
                    <th> Actions </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="Medecin : ${listMedecins}">
                    <td th:text="${Medecin.firstName}"></td>
                    <td th:text="${Medecin.lastName}"></td>
                    <td th:text="${Medecin.speciality}"></td>
                    <td> <a th:href="@{/showFormForUpdate/{id}(id=${Medecin.id})}" class="btn btn-primary">Update</a>
                        <a th:href="@{/deleteMedecin/{id}(id=${Medecin.id})}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
                    <a th:href="@{/index_consultation}" class="btn btn-primary btn-sm mb-3">Consultations</a>
                    <a th:href="@{/index_malade}" class="btn btn-primary btn-sm mb-3">Malades</a>
    </div>
</body>

</html>