<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Consultation Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        html {
            height: 100%;
        }
        body {
            background: url("https://img.freepik.com/free-photo/blur-hospital_1203-7957.jpg?size=626&ext=jpg") no-repeat center;
            height: 100%;
            background-size: cover;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Consultations List</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a th:href="@{/1}" class="nav-link">Medecins</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/index_malade1}" class="nav-link">Malades</a>
            </li>
        </ul>
    </div>
</nav>
    <div class="container my-2">
        <table class="table table-bordered bg-white text-dark mt-5">
            <thead>
            <tr>
                    <th class="text-center">Consultation type</th>
                    <th class="text-center">Consultation prix</th>
                    <th class="text-center">Consultation date</th>
                    <th class="text-center">Consultation id_Medecin</th>
                    <th class="text-center">Consultation id_Malade</th>
                    <th class="text-center"> Actions </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="Consultation : ${listConsultations}">
                    <td th:text="${Consultation.type}"></td>
                    <td th:text="${Consultation.prix}"></td>
                    <td th:text="${Consultation.date}"></td>
                    <td th:text="${Consultation.id_Medecin}"></td>
                    <td th:text="${Consultation.id_Malade}"></td>
                    <td>
                        <div class="text-center">
                            <a th:href="@{/showFormForUpdate1/{id}(id=${Consultation.id})}" class="btn btn-warning">Update</a>
                            <a th:href="@{/deleteConsultation1/{id}(id=${Consultation.id})}" class="btn btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>
                <tr class="text-center">
                    <td colspan="6">
                        <a th:href="@{/showNewConsultationForm1}" class="btn btn-primary"> Add Consultation </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>