<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Medecin Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        html {
            height: 100%;
        }
        body {
            background: url("https://www.blg.com/-/media/blg/images/social/hospital-hallway.jpg") no-repeat center;
            height: 100%;
            background-size: cover;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">Medecins List</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a th:href="@{/index_consultation}" class="nav-link">Consultations</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/index_malade}" class="nav-link">Malades</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class=" row justify-content-center mt-5">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Save Medecin</div>
                <div class="card-body">
                    <form action="#" th:action="@{/saveMedecin}" th:object="${medecin}" method="POST">
                        <div class="row mb-3">
                            <label class="col-md-4 col-form-label text-md-end">Medecin First Name</label>
                            <div class="col-md-6">
                                <input type="text" th:field="*{firstName}" class="form-control" required>
                            </div>
                        </div>
                        <!-- /////////////////////////////////////// -->
                        <div class="row mb-3">
                            <label  class="col-md-4 col-form-label text-md-end">Medecin Last Name</label>
                            <div class="col-md-6">
                                <input type="text" th:field="*{lastName}" class="form-control" required>
                            </div>
                        </div>
                        <!-- /////////////////////////////////////// -->
                        <div class="row mb-3">
                            <label class="col-md-4 col-form-label text-md-end">Medecin Email</label>
                            <div class="col-md-6">
                                <input type="text" th:field="*{speciality}" class="form-control" required>
                            </div>
                        </div>
                        <!-- /////////////////////////////////////// -->
                        <div class="row mb-0">
                            <div class="col-md-8 offset-md-4">
                                <button type="submit" class="btn btn-info"> Save Medecin</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>